<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form method="POST">
        <label for="firstname">First name</label>
        <input type="text" name="firstName" placeholder="First name" value="{{ firstName }}">
        <br>
        <label for="lastname">Last name</label>
        <input type="text" name="lastName" placeholder="Last name" value="{{ lastName }}">
        <br>
        <label for="age">Last name</label>
        <input type="number" name="age" placeholder="Age" value={{ age }}>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>